{% extends 'layout.html.twig' %}

{% block content %}
<main class="main-track">
    <form class="validate-music-search" action="/music/search" method="post">
        <h1>Pick your music</h1>
        <input class="music-searchbar" type="text" name="text" placeholder="Johnny Hallyday.." required>
        <div class="checkbox-container">
            <div>
                <input type="checkbox" name="tracks" id="tracks" checked>
                <label for="tracks">Tracks</label>
            </div>
            <div>
                <input type="checkbox" name="albums" id="albums" checked>
                <label for="albums">Albums</label>
            </div>
            <div>
                <input type="checkbox" name="artists" id="artists" checked>
                <label for="artists">Artists</label>
            </div>
        </div>
        <button class="submit-selected-music"type="submit">Search</button>
    </form>
</main>
<div class="basket-button">
    <a href="#basket"><span class="basket-notification">{{ basketCount }}</span></a>
</div>
{% include "Music/_basket.html.twig" %}
{% endblock %}
