{% extends 'layout.html.twig' %}

{% block content %}
    <div class="music-results-content">
        <h1>You should learn these instruments</h1>
        <div class="music-results-list">
        {% for instrument in instruments %}
            <figure class="music-results-instrument">
                <h2 class="music-results-h2">{{ instrument.data.name }}</h2>
                <div class="music-results-image" style="background-image: url('{{ instrument.data.image }}');">
                    <span>{{ ((instrument.score * 100) /  totalScore)|round }} %</span>
                </div>
            </figure>
        {% endfor %}
        </div>
    </div>
{% endblock %}