<main class="playlist-kart">
    <h1>Your playlist</h1>
    <section class="playlist">
        <h2>Artists</h2>
        <div>
        </div>
    </section>
    <section class="playlist">
        <h2>Albums</h2>
        <div>
        </div>
    </section>
    <section class="playlist">
        <h2>Tracks</h2>
        <div>
        </div>
    </section>
    
</main>