{% extends 'layout.html.twig' %}

{% block homeButton %}
{% endblock %}

{% block content %}
    <div class="home-content">
        <div class="find-instrument">
            <a href="/music"> 
                <h1>Find your instrument</h1>
            </a>
        </div>
        
        <div class="home-logo">
            <img class="logo-image" src="assets/images/logo_fymi.png">
        </div>

        <div class="find-track">
            <a href="/instrument">
                <h1>Find your music</h1>
            </a>
        </div>
    </div>
{% endblock %}
