:root {
    font-family: 'Outfit', sans-serif;
    --backgroundColor: #212227;
    --primaryColor: #B4E4E4;
    --primaryColorAlter: #F4CDD3;
    --secondaryColor:#297373;
    --secondaryColorAlter:#E37884;
    --white: #fefee2;
    --black: #010101;
    background-color: var(--backgroundColor);
}

body {
    padding: 0;
    margin: 0;
}
/* Homepage */

.logo-button {
    position: fixed;
    bottom: 0;
    left: 0;
}

.logo-image {
    width: 5rem;
    height: 5rem;
}

.home-logo {     
    display: flex;
    justify-content: center;
}

.home-content { 
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.home-content a { 
    text-decoration: none;
    color: var(--primaryColor);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.find-instrument,
.find-track {
    flex-grow: 1;
    text-shadow: 1px 1px 7px black;
}

.find-instrument {
    background-image: url("../images/find-instrument.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.find-track {
    background-image: url("../images/find-track.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* End Homepage */

/* Instrument List*/

.instrument-choice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
}

.instrument-choice h1 {
    color: var(--primaryColor);
    font-size: 3rem;
    text-align: center;
}

.instrument-form {
    background-color: var(--secondaryColor);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}

.background-portee {
    background-image: url(../images/portee.png);
    background-size: cover;
    height: 10rem;
    width: 10rem;
    flex-grow: 1;
}

.instrument-input:checked+.instrument-label {
    background-color: #e2dfdf6b;
    border: 3px solid;
    border-color: #e2dfdf6b;
}

.instrument-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width:45%;
    margin-left: 3rem;
}

.instrument-icon {
    height: 10vh;
    border-radius: 50%;
}

.submit-selected-instruments {
    background-color: rgb(236, 236, 236);
    font-family: 'Outfit', sans-serif;
    font-size: 2rem;
    position: fixed;
    bottom: 4rem;
    left: 50%;
    transform: translate(-50%);
    padding: 1rem;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.363);
    border: none;
}
/* End Instrument List*/

/* ---------------css results by instruments ------------------*/
.tracks-results h1 {
    color: var(--primaryColorAlter);
    text-align: center;
    margin-bottom: 3rem;
}
.tracks-list { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tracks-list a {
    display: block;
    font-size:large;
    text-decoration: none;
    color: var(--primaryColor);
    padding-top: 1rem;
    padding-left: 1rem;    
}
.tracks-list p {
    display: block;
    text-decoration: none;
    padding-left: 1rem;    
}
.track-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--secondaryColor);
    min-width: 80vw;
    justify-content: center;
    margin-bottom: 3rem;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.644);
}
/*------------------end css results by instruments---------------*/

/* ---------------css results by musics ------------------*/

.music-results-content h1 {
    color: var(--primaryColorAlter);
    text-align: center;
}

.music-results-h2 {
    color: var(--primaryColor);
    text-align: center;
}

/*------------------end css results by musics---------------*/
