{% extends 'layout.html.twig' %}

{% block content %}
<main class="instrument-choice">
    <h1>Pick your instruments</h1>
    <form class="instrument-form" method ="post">
        {% for instrument in instruments %}
        <div class="background-portee">
            <label class="instrument-label" for="{{instrument.id}}">
                <img src="{{instrument.icon}}">
            </label>
            <input type="checkbox" id="{{instrument.id}}">
        </div>
        {% endfor %}
        <button class="submit-selected-instruments" type="submit">Check this song out !</button>
    </form>
</main>
{% endblock %}