{% extends 'layout.html.twig' %}

{% block content %}
    <main class="tracks-results">
        <h1>Tracks that fitted for you</h1>
            <div class="tracks-list">
                {% for track in tracks %}
                <div class="track-link">
                    <a href="{{track.url}}" style="">{{track.name}}</a>
                </div>
                {% endfor %}
            </div>

    </main>
{% endblock content %}
