{% extends 'layout.html.twig' %}

{% block content %}
    <main class="tracks">
        <h1>Tracks that fitted for you</h1>
            {% for track in tracks %}
            
            {% endfor %}

    </main>
{% endblock content %}
